*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
	scroll-behavior: smooth;
}

header {
	background: #1A2238;
	color: #eaeaea;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.logo {
	margin-right: auto;
	display: flex;
	gap: 6px;
}

.logo-img {
	width: 35px;
	height: 35px;
	margin-left: 10px;
}

.logo-title {
	cursor: pointer;
	transition: all .5s ease 0s;
}

.logo:hover {
	color: #FF6A3D;
	transform: rotate(2deg);
}

.btn-cta {
	margin-right: 10px;
	border: none;
	font-size: 20px;
	padding: 6px 12px;
	background: #FF6A3D;
	color: #eaeaea;
	border-radius: 8px;
	cursor: pointer;
}

nav ul{
	display: flex;
	padding: 20px;
}

li {
	list-style-type: none;
	padding: 10px;
}

li a {
	transition: all .5s ease 0s;
	display: inline-block;
}

li a:hover {
	color: #FF6A3D;
}

a {
	color: #eaeaea;
	text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.container img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}


.container p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}